@import "./mixins.scss";
@import "./responsive.scss";

// Couleurs
$primary: #FF6060; 
$secondary: black;
$tertiary: #F7F7F7;
$color0: white;
$color1: rgba(255, 255, 255, 0);
$color2: rgba(10, 10, 10, 0);
$color3: rgba(4, 4, 4, 0.205);
$color4: rgba(0, 0, 0, 0.5);

%shadow {
    background: linear-gradient(180deg, $color1 0%, $color2 42%, $color3 99.99%, $color4 100%);
}

%boxShadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}


// Generalites
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    text-decoration: none;
    color: $secondary;
}

li {
    list-style: none;
}

// Header
.header {
    @include flex($justify: space-between);
    height: 70px;

    img {
        width: 175px;
        margin-left: 25%;
        margin-top: 25%;

        @media #{$medium-down} {
            width: 125px;
        }
    }
}

// Nav
.nav-container {
    @include flex($justify: flex-end);
    height: 70px;
    color: $color0;
    font-size: 24px;
    margin-right: 2.5%;
    margin-top: 30px;
}

.nav {
    @include flex;

    ul {
        @include flex;
        gap: 50px;

        :hover {
            text-decoration: underline;
        }

        @media #{$medium-down} {
            text-transform: uppercase;
            font-size: medium;
            gap: 25px;
        }
    }

    .nav-active {
        text-decoration: underline;
    }
}

// Banniere
.banner-container {
    @include flex;
    @extend %boxShadow;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 220px;
    padding: 20px;
    max-width: 95%;
    margin: 40px auto;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    @media #{$medium-down} {
        height: 110px;
    }
}

.banner-title {
    color: $color0;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    2px 2px 4px rgba(0, 0, 0, 0.5);

    @media #{$medium-down} {
        font-size: 24px;
    }
}

// Footer
.footer {
    @include flex(column);
    gap: 50px;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: $secondary;

    p {
        color: $color0;
        font-size: 24px;
        @media #{$medium-down} {
            text-align: center;
            font-size: 12px;
        }
    }

     img {
        width: 120px;
        height: 40px;
    }

    @media #{$medium-down} {
        margin-top: 20px;
        gap: 20px;
    }
}

.page-container {
    @include flex(column);
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    width: 100%;
}

// Page Error 404
.error {
    @include flex(column);
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 90px;
    color: $primary;
    min-height: 250px;
}

.error-title {
    font-weight: 700;
    font-size: 288px;
    margin-bottom: 40px;

    @media #{$medium-down} {
        font-size: 96px;
    }
}

.error-text {
    font-weight: 500;
    font-size: 36px;
    text-align: center;

    @media #{$medium-down} {
        font-size: 18px;
    }
}

.error-goBack {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    color: $secondary;
    margin-top: 100px;

    @media #{$medium-down} {
        font-size: 14px;
        margin-top: 50px;
    }
}

// Composant Collapse
.collapse {
    background-color: $color0;
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 25px auto;

    &_title {
        @include flex(row, space-between, center);
        background-color: $primary;
        color: $color0;
        border-radius: 10px;
        font-weight: 700;
        font-size: 24px;
        padding: 10px 15px;
        height: 50px;
        cursor: pointer;

        .arrow {
            transition: transform 0.2s ease-in-out;
            transform: rotate(0deg);
            
            @media #{$medium-down} {
                height: 100%;
            }
        }

        .arrow_up {
            transform: rotate(180deg);
        }

        .arrow_down {
            transform: rotate(0deg);
        }

        @media #{$medium-down} {
            font-size: 13px;
            height: 30px;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        color: $secondary;
        transition: visibility 0.5s ease-in-out,
            opacity 0.5s ease-in-out,
            height 0.2s ease-in-out;
        @media #{$medium-down} {
            font-size: 13px;
            padding: 10px;
        }
    }

    &_content_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    @media #{$large-down} {
        margin: 15px;
    }
}

// Composant Gallery
.gallery {
    @include flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: $tertiary;
    padding: 50px;
    border-radius: 25px;
    width: 95%;
    margin: 0 auto;

    @media #{$medium-down} {
        flex-direction: column;
        background-color: $color0;
        padding: 5px;
        gap: 20px;
    }

    @media #{$large-down} {
        background-color: $color0;
        padding: 5px;
        gap: 20px;
    }
}

// Composant Card
.gallery_card {
    position: relative;
    width: 30%;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: '';
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %shadow;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        z-index: 20;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-weight: 500;
        font-size: 18px;
        color: $color0;
    }

    @media #{$medium-down} {
        height: 250px;
        width: 100%
    }
}

// Page Accomodation
.accomodation {
    @include flex;
    margin-left: 30px;
    margin-right: 40px;

    h1 {
        font-size: 36px;
        font-weight: 500;

        @media #{$medium-down} {
            font-size: 18px;
        }
    }

    p {
        color: $secondary;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;

        @media #{$medium-down} {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    &_tags button {
        all: unset;
        color: $color0;
        background-color: $primary;
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
        border-color: $primary;
        box-shadow: none;

        @media #{$medium-down} {
            font-size: 10px;
        }
    }

    &_content {
        @include flex(row, space-between, flex-start);
        color: $primary;
        width: 95%;
        margin: 0 auto;

        &_infos {
            @include flex(column, $align: flex-start);
            gap: 10px;
            font-weight: 500;
            font-size: 20px;
            width: 70%;

            @media #{$medium-down} {
                width: 100%;
            }

            div {
                @include flex;
                flex-wrap: wrap;
                gap: 10px;
                max-width: 100%;
            }
        }

        &_host {
            @include flex(column, space-evenly);
            gap: 5px;
            height: 150px;

            div {
                @include flex($justify: flex-end, $align: flex-end);
                gap: 0 10px;
            }

            &_name {
                align-self: center;
                text-align: end;
                color: $primary;

                @media #{$medium-down} {
                    font-size: 12px;
                    font-weight: lighter;
                }
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }

            @media #{$medium-down} {
                flex-direction: row-reverse;
                justify-content: space-between;
                width: 100%;
                height: 70px;
                margin-right: 15px;
            }
        }
        
        &_rating {
            @include flex;
            gap: 10px;
            margin-top: 20px;

            @media #{$medium-down} {
                margin: 0 15px;
            }
        }
    }

    @media #{$medium-down} {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.accomodation_collapse {
    @include flex($justify: flex-end, $align: stretch);
    gap: 70px;
    margin-left: 15px;
    margin-right: 15px;
    width: 95%;

    &_item {
        width: 50%;
        @media #{$medium-down} {
            width: 100%;
        }
    }

    @media #{$medium-down} {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin: 0;
    }
}

// Composant Carousel
.carousel-container {
    @include flex;
    width: 95%;
    margin-left: 30px;
    margin-right: 30px;

    @media #{$medium-down} {
        width: 100%;
        margin: 0;
    }
}

.carousel {
    @include flex($align: stretch);
    position: relative;
    width: 100%;
    height: 415px;
    background-position: center;
    margin: 43px auto;

    img {
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        opacity: 1;
        transform: scale(1);
    }

    @media #{$medium-down} {
        width: 95%;
        height: 255px;
        margin: 20px auto;
    }
}

.active-anim {
    opacity: 0.5;
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.btn-container {
    @include flex($justify: space-between);
    position : absolute;
    height: 100%;
    width: 100%;
}

.btn {
    @include flex;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    img {
        width: 50%;

        @media #{$medium-down} {
            width: 30%;
        }
    }
}

.pagination-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: $color0;
    font-weight: 700;
    font-size: 18px;

    @media #{$medium-down} {
        bottom: 5%;
        font-size: 14px;
    }
}

.btn-hide,
.pagination-hide {
    visibility: hidden;
}